<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<error-page>
		<error-code>404</error-code>
		<location>/exceptionNoPage.jsp</location>
	</error-page>
	<url-pattern>/editProduct.jsp</url-pattern>
	
	<servlet>
			<servlet-name>BoradController</servlet-name>
			<servlet-class>controller.BoradController</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>BoradController</servlet-name>
			<url-pattern>*.do</url-pattern>
		</servlet-mapping>
</web-app>